# backend build
backend/target/

# frontend
frontend/node_modules/
frontend/dist/

# ignore everything in public
frontend/public/*

# BUT allow images
!frontend/public/images/

# IDE
.idea/
.vscode/

# logs
*.log